<div class="row mt-4">
    <div class="col-md-4 offset-4">
        <div class="card">           
            <div class="card-body">
                <div class="text-center">
                    <h5 class="card-title">Recuperação de senha</h5>
                    <p class="card-subtitle">Preencha os campos para redefinir sua senha</p>
                </div>
                <hr/>
                <form class="mt-1" [formGroup]="formPassword" (ngSubmit)="onSubmit()">
 
                    <div class="mb-2">
                        <label>E-mail de acesso:</label>
                        <input type="text" class="form-control" placeholder="Digite seu e-mail aqui" formControlName="email"/>

                        <div class="text-danger" *ngIf="formularioPassword.email.touched && formularioPassword.email.invalid">
                            <span *ngIf="formularioPassword.email.errors.required">
                                Por favor, informe seu email de acesso.
                            </span>
                            <span *ngIf="formularioPassword.email.errors.email">
                                Por favor, informe um endereço de email válido.
                            </span>   
                        </div>  
                    </div>                    
 
                    <div class="mb-2 d-grid">
                        <input type="submit" class="btn btn-primary btn-sm" value="Redefinir senha" [disabled]="!formPassword.valid"/>
                    </div>
 
                    <div class="mb-2 d-grid">
                        <a [routerLink]="['/acessar-conta']" class="btn btn-light btn-sm">
                            Já possui conta? <strong>Click aqui!</strong>
                        </a>
                    </div>
 
                </form>
 
            </div>
        </div>
    </div>
</div>
 
